---
import { SITE } from '~/utils/config';

---


<div class="flex items-center">
  <a href="https://ibb.co/N3PwG6K" class="inline-block">
    <img src="https://i.ibb.co/4fGB0Zp/Stand-Alone-Logo.png" alt="Stand-Alone-Logo" border="0" width="35" height="32">
  </a>
  <span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-3x2 md:text-2xl font-black text-gray-900 whitespace-nowrap dark:text-white">
    <span class="logo-text text-[1.5rem]">{SITE?.name}</span>
  </span>
</div>